body {
  background-color: black !important;
}

.gb_f {
  height: 0 !important;
}

.SSwjIe {
  background-color: black !important;
}

a {
  color: white !important;
}

.pHiOh,
a.pHiOh {
  color: white !important;
}

.RNNXgb:hover,
.sbfc .RNNXgb {
  background-color: #000000 !important;
  border: 1px solid white !important;
}

.RNNXgb {
  background-color: #000000 !important;
  border: 1px solid white !important;
}

.aajZCb {
  background: #000000 !important;
}

.lJ9FBc input[type="submit"],
.gbqfba {
  background-color: #000000 !important;
}

.aajZCb {
  border: 1px solid white !important;
}

.ktLKi {
    display: none !important;
}

.Pb9hCb {
    display: none !important;
}