body {
  background-color: black !important;
}

.gb_f {
  height: 0 !important;
}

.SSwjIe {
  background-color: black !important;
}

a {
  color: white !important;
}

.pHiOh,
a.pHiOh {
  color: white !important;
}

.RNNXgb:hover,
.sbfc .RNNXgb {
  background-color: #000000 !important;
}

.RNNXgb {
  background-color: #000000 !important;
  border: #fff !important;
}

.appbar {
  background-color: #000000 !important;
}

.sfbg {
  background: #000000 !important;
}

.zItAnd {
  background-color: #000000 !important;
}

.yuRUbf {
  background-color: #000000 !important;
}

.rsGxI.Ww4FFb,
.Ww4FFb {
  background-color: #000000 !important;
}

.dG2XIf {
  background-color: #000000 !important;
}

.MR2UAc {
  background-color: #000000 !important;
}

.S8ee5 {
  background: #000000 !important;
  border: 1px solid rgb(255, 255, 255) !important;
}

.S8ee5:hover {
  background: #1a1a1a !important;
  border: 1px solid rgb(255, 255, 255) !important;
}

.cO53qb {
  color: #282525 !important;
  background-color: #000000 !important;
  border: 1px solid #000000 !important;
}

.s8GCU {
  background: rgb(0 0 0) !important;
}

.jZWadf {
  background-color: #000000 !important;
}

.Lj9fsd {
  background-color: #000000 !important;
}

.NZmxZe {
  background-color: #000000 !important;
}

.o6juZc {
  background-color: #000000 !important;
  border: 1px solid white !important;
}

.W6pGoe {
  background: #000000 !important;
  border: 1px solid white !important;
}

.WdWr7c {
  height: 0 !important;
  width: 0 !important;
}

.f6F9Be {
  background: #000000 !important;
}

.fKmH1e {
  background-color: #000000;
}
